<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="static/accueil_styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur la page d'accueil</h1>
        {% if nom_utilisateur %}
            <p>Connecté en tant que : {{ nom_utilisateur }}</p>
            <a href="{{ url_for('caves.creer_cave') }}"><button>Créer une nouvelle cave</button></a>
            <a href="{{ url_for('bouteille.ajouter_bouteille') }}"><button>Créer une nouvelle bouteille dans la liste globale</button></a>
        {% endif %}
    </header>
    <main>
        {% if nom_utilisateur %}
            <h2>Caves de l'utilisateur</h2>
            <div class="caves-container">
                {% for cave in caves_utilisateur %}
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ cave.nom_cave }}</h3>
                            <div class="card-actions">
                                <a href="{{ url_for('etagere.creer_etagere', cave_id=cave.id_cave) }}"><button>Créer une étagère</button></a>
                                <form method="POST" action="{{ url_for('caves.supprimer_cave', id_cave=cave.id_cave) }}" style="display: inline;">
                                    <input type="hidden" name="id_cave" value="{{ cave.id_cave }}">
                                    <button type="submit">Supprimer cette cave</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            {% for etagere in cave.etageres %}
                                <div class="etagere">
                                    Étagère {{ etagere.numero }}
                                    <a href="{{ url_for('etagere.ajouter_bouteille_etagere', id_etagere=etagere.id_etagere)}}">ajouter bouteille</a>
                                    <form method="POST" action="{{ url_for('etagere.supprimer_etagere', id_etagere=etagere.id_etagere) }}" style="display: inline;">
                                        <input type="hidden" name="id_etagere" value="{{ etagere.id_etagere }}">
                                        <button type="submit">Supprimer cette étagère</button>
                                    </form>
                                    {% if etagere.bouteilles %}
                                        <div class="bouteilles">
                                            {% for bouteille in etagere.bouteilles %}
                                                <div class="bouteille">
                                                    {{ bouteille.nom }}
                                                    <a href="{{ url_for('etagere.supprimer_bouteille_etagere', id_etagere=etagere.id_etagere) }}">Supprimer</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <p>Aucune bouteille sur cette étagère</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{{ url_for('users.deconnexion') }}">Déconnexion</a>
    </main>
    <footer>
        <p>© 2023 BARBARAS Vincent</p>
    </footer>
</body>
</html>
