<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur la page d'accueil</h1>
        {% if 'username' in session %}
            <p>Connecté en tant que : {{ session['username'] }}</p>
        {% endif %}
    </header>
    <main>
        <section>
            <h2>Liste des utilisateurs</h2>
            <ul>
                {% for utilisateur in utilisateurs %}
                    <li>{{ utilisateur.nom_utilisateur }}</li>
                {% endfor %}
            </ul>
        </section>
        <!-- Autres sections ou éléments à ajouter en fonction de vos besoins -->
        <a href="{{ url_for('deconnexion') }}">Déconnexion</a>
    </main>
    <footer>
        <p>© 2023 VotreNom</p>
    </footer>
</body>
</html>
