<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une bouteille</title>
</head>
<body>
    <h1>Ajouter une bouteille</h1>
    <form action="/ajouter_bouteille" method="POST" action="{{ url_for('bouteille.ajouter_bouteille') }}">
        <label for="domaine_viticole">Domaine viticole:</label>
        <input type="text" id="domaine_viticole" name="domaine_viticole" required><br><br>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required><br><br>
        <label for="annee">Année:</label>
        <input type="text" id="annee" name="annee" required><br><br>
        <label for="region">Région:</label>
        <input type="text" id="region" name="region" required><br><br>
        <label for="commentaires">Commentaires:</label>
        <input type="text" id="commentaires" name="commentaires"><br><br>
        <label for="note_personnelle">Note personnelle:</label>
        <input type="text" id="note_personnelle" name="note_personnelle" required><br><br>
        <label for="photo_etiquette">Photo étiquette:</label>
        <input type="text" id="photo_etiquette" name="photo_etiquette" ><br><br>
        <label for="prix">Prix:</label>
        <input type="text" id="prix" name="prix" required><br><br>

        <input type="submit" value="Créer">
    </form>
</body>
</html>
