<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une cave</title>
    <link rel="stylesheet" href="static/creer_cave_styles.css">
</head>
<body>
    <header>
        <h1>Créer une nouvelle cave</h1>
    </header>
    <main>
        <div class="card">
            <div class="card-body">
                <form method="post" action="{{ url_for('caves.creer_cave') }}" class="form-cave">
                    <div class="form-group">
                        <label for="nom_cave">Nom de la cave :</label>
                        <input type="text" id="nom_cave" name="nom_cave" required>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2023 BARBARAS Vincent</p>
    </footer>
</body>
</html>
