<!DOCTYPE html>
<html>
<head>
    <title>Supprimer un utilisateur</title>
    <link rel="stylesheet" href="static/supprimer_utilisateur_styles.css">
</head>
<body>
    <h1>Supprimer un utilisateur</h1>
    <form action="" method="post">
        <label for="utilisateur">Choisir un utilisateur à supprimer :</label>
        <select name="utilisateur" id="utilisateur">
            {% for utilisateur in utilisateurs %}
                <option value="{{ utilisateur[0] }}">{{ utilisateur[1] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Supprimer">
    </form>
</body>
</html>
